<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Testing Center</title>
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <style>
        body{
            background-color: cadetblue;
            margin-left: 200px;
            margin-top: 200px;
        }
        h1{
            color: greenyellow;
        }
        h4{
            color: green;
        }
    </style>
</head>
<body>
<h1>Smart Testing Center</h1>
<h4>coming soon...</h4>
</body>
</html>